
*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    background-color:#8A659D;
}
.container{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container h2{
    text-transform: uppercase;
}
.section{
    display: flex;
    margin: 5px;
    
}
.section2{
    padding-top: 100px;
    display: flex;
    margin: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
  
}
.time{
      text-align: center;
      color: rgb(230, 230, 1);
}
.timezone{
    width: 80px;
    padding: 20px;
  background-color: teal;
    margin: 20px;
    color: bisque;
    border-radius: 15px;
    box-shadow: 3px 3px red, -.5em 0 .5em olive;
  
}
.timezone > span{
    align-items: center;
    justify-content: center;
   
} 