
*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container h2{
    text-transform: uppercase;
}
.section{
    display: flex;
    margin: 5px;
}
.section2{
    padding-top: 100px;
    display: flex;
    margin: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
  
}
.time{
  
    text-align: center;
}
.timezone{
    width: 80px;
    padding: 20px;
    background: rgb(0,0,0,.25);
    margin: 20px;
    border-radius: 15px;
  
}
.timezone > span{
    align-items: center;
    justify-content: center;
} 